*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainheader{
    background-color: #091d1e;
    width: 100%;
   
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.active{
    text-decoration: none;
    color: hsla(195, 80%, 58%, 0.941);
    text-shadow: 2px 4px 5px #51afbbf0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #e3e4e9;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #3ebee9f0;
}

.container{
background-color: #e8f2f1c2;
width: 80%;
height: auto;
margin-left: 10%;
margin-right: 10%;
margin-top: 3%;
box-shadow: 0 2px 2px 1px rgb(0 0 0 / 20%);
border-radius: 0.3em;
padding-bottom: 40px;
}
.topnav a.icon {
   display: none;
  }
h1{
    color: rgb(28, 3, 48);
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding-top: 30px;
    padding-left: 50px;
}

h2{
  color: rgb(28, 3, 48);
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-top: 60px;
  padding-left: 50px;
}
form{
  margin-top: 30px;
}
.label{
  padding-left: 50px;
  font-size: 17px;
}
.titel{
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  height: 40px;
  box-shadow: 2px 2px 10px 2px rgba(37, 142, 233, 0.921);
}
.innehall{
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  height: 200px;
  box-shadow: 2px 2px 10px 2px rgba(37, 142, 233, 0.921);
}

.skapa{
  width: 200px;
  height: 40px;
 background-color: rgb(28, 3, 48);
 color:white;
box-shadow: 2px 2px 10px 2px rgba(37, 142, 233, 0.921);
margin-left: 65%;
margin-top: 20px;
}
.radera{
  width: 150px;
  height: 40px;
 background-color: rgba(51, 119, 179, 0.921);
box-shadow: 2px 2px 6px 2px rgba(51, 69, 87, 0.921);
margin-left: 65%;
padding-top: 10px;
margin-bottom: 20px;
margin-top: 20px;
}
.radera a{
color:rgb(28, 3, 48);
padding-left: 35%;
}
.radera a:link{
 text-decoration: none;
  }
.bakåt{
  width: 250px;
 background-color: rgba(145, 176, 204, 0.921);
margin-left: 65%;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 20px;
}
.bakåt a{
  color:rgb(28, 3, 48);
  padding-left: 25%;
}
.bakåt a:link{
  text-decoration: none;
   }
.out{
  width: 100%;
  height: 60px;
  background-color: rgba(37, 142, 233, 0.921);
}
.out p{
  padding-left: 80%;
  padding-top: 30px;
}
.out p a{
  color: black;

  }
.tid{
  color:rgb(87, 85, 85);
  font-size: 10px;
  padding-top: 12px;
  margin-left: 50px;
}
h3{
  color: rgb(28, 3, 48);
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding-top: 20px;
  padding-left: 50px;
}
.text{
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 90%;
}
footer p{
    padding-top: 40px;
   padding-left: 40%;
font-size: 16px;
}
.message{
  color: red;
  padding-left: 50px;
  font-size: 18px;
}
.error{
    color: red;
    padding-left: 50px;
    font-size: 18px;
}
.form{
  padding-left: 30%;

}
.användare{
  margin-top: 15px;
  margin-bottom: 24px;
  width: 400px;
  height: 30px;
}
.submit {
  width: 400px;
  height: 40px;
  background-color: rgb(28, 3, 48);
  color: white;
  box-shadow: 2px 2px 10px 2px rgb(37 142 233 / 92%);
  margin-top: 20px;
}
.article{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  padding-bottom: 40px;
  width: auto;
  height: auto;
  box-shadow: 2px 2px 10px 2px rgba(120, 173, 219, 0.92);
}
.detalj{
 padding-top: 40px;
}

@media (max-width:1050px){
  .bakåt{
    margin-left: 55%;
  }
}
@media (max-width:900px){
  .form{
    padding-left: 20%;
  
  }
  .bakåt{
    margin-left: 50%;
  }
}

@media (max-width:800px){
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
  }
 
  .topnav a:hover {
    background-color: rgb(161, 213, 235);
    color: black;
    text-shadow: 2px 4px 5px #0e1617f0;
  }
  .active {
    background-color: hsla(195, 80%, 58%, 0.941);
    color: white;
  }
  .skapa {
    margin-left: 55%;
  }
  .bakåt{
    margin-left: 45%;
  }
}
@media (max-width:700px){
  .form{
    padding-left: 10%;
  }
  footer p {
    padding-left: 30%; 
    font-size: 15px;
}
.radera{
  margin-left: 55%;
}
#mainheader {
   
  padding: 10px 70px; 
}
.bakåt{
  margin-left: 35%;
}
}
@media (max-width:600px){
  .radera {
    margin-left: 45%;
  }
  .skapa {
    margin-left: 45%;
  }
  .text{
    padding-left: 5%;
    width: 90%;
  }
  .tid{
    margin-left: 5%;
  }
  h3{
    padding-left: 5%;
  }
  h2{
    padding-left: 5%;
  }
  .bakåt{
    margin-left: 30%;
    width: 200px;
  }
}
@media (max-width:550px){
  .form{
    padding-left: 5%;
  }
  footer p {
    padding-left: 25%; 
    font-size: 14px;
}

}
@media (max-width:450px){
  .användare{
    width: 250px;
  }
  .submit{
    width: 250px;
  }
  .error{
    font-size: 14px;
  }
  .message{
    font-size: 14px;
  }
  #mainheader {
   
     padding: 10px 50px; 
}
.form{
  margin-top: 20px;
}
.skapa{
  width: 140px;
  height: 30px;
margin-left: 45%;
}
.radera{
  width: 100px;
  height: 30px;
margin-left: 40%;

}
.bakåt{
  margin-left: 5%;
  width: 160px;
}
.bakåt a{
  padding-left: 0%;
}
}
